.container{
  width : 100%;
  overflow: hidden;
}
.global-nav{
  width : 100%;
  height : 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #030303;
}
.main-logo{
  display: inline-block;
  width : 158px;
  height: 46px;
  background : url(../image/logo.png) no-repeat 0 0;
  background-size: 1369px 1359px;
  background-position: 0 -855px;
}
/* global-nav */

.local-nav{
  width : 100%;
  height : 90px;
  background-color: #030303;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.class-logo{
  display: inline-block;
  width : 87px;
  height : 87px;
  background : url(../image/classLogo.png) no-repeat 0 0;
  background-position: -1078px -582px;
  background-size: 1649px 1422px;
  margin-left : 10%;
}
.main-menu{
  width : 60%;
  height : 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size : 20px;
  font-weight: 600;
  margin-right : 10%;
  color : #fff;
}
.main-menu .menu:hover{
  color : red;
  transition: .5s;
  cursor: pointer;
}
/* local-nav */

.scroll-section{
  position : relative;
  background-color: bisque;
}
#scroll-section-1{
  width : 100%;
}
#scroll-section-1 h1,
#scroll-section-1 h4,
#scroll-section-1 h5{
  position : absolute;
  right : 10%;
  top : 10%;
  font-size : 30px;
}
/* scroll-section-1 */

.static-section{
  width : 100%;
  height : 100vh;
  display: flex;
  background-color: #212227;
  color : #fff;
}
.left-static{
  width : 50%;
  height: 100%;
  background: url(../image/img_detail_artist_s.png) no-repeat 0 0;
  background-size: 820px 900px;
  background-position: center;
}
.right-static{
  width : 50%;
  height : 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position : relative;
}
.static-message{
  line-height: 3;
  font-size : 18px;
  margin-bottom : 80px;
}
.static-message strong{
  font-size : 40px;
  letter-spacing: 1.2px;
}
.right-static iframe{
  position : relative;
  left : -80px;
}
/* static-section */

#scroll-section-2{
  position : relative;
  background-color: #d4cfc5;
}
.mid-message{
  width : 80%;
  height : 150px;
  margin-left : 10%;
  padding-top : 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mid-message small{
  font-size  :1.3rem;
  color : #212227;
}
.mid-message strong{
  font-size : 6rem;
}
.canvas-caption{
  width : 80%;
  margin-left : 10%;
  font-size : 1.3rem;
  color : #212227;
  padding-bottom : 50px;
}
.canvas-caption strong{
  display: inline-block;
  font-size : 2rem;
  margin-bottom : 10px;
}
.canvas-caption small{
  display: inline-block;
  font-size : 1.5rem;
  color : #4f4390;
  margin-bottom : 5px;
}
/* scroll-section-2 */

footer{
  width : 100%;
  height : 50px;
  background-color: #212227;
  color : #fff;
  text-align: center;
  line-height: 50px;
}
/* footer */

.top-button{
  width : 50px;
  height : 50px;
  border-radius: 50%;
  border : 3px solid #4f4390;
  box-sizing: border-box;
  position : fixed;
  right : 2%;
  bottom : 6%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-button:hover{
  border : none;
  box-sizing: border-box;
  background-color: #4f4390;
}
.top-button:hover .material-icons{
  color : #212227;
}
.top-button .material-icons{
  font-size : 30px;
  font-weight: 600;
  color : #4f4390;
}
/* top-button */