@charset 'utf-8';
*{
  margin : 0;
  padding : 0;
}
html{
  font-family: "Noto Sans KR",sans-serif;
  font-size : 14px;
}
body{
  overflow-x: hidden;
  color : #212227;
  letter-spacing: -0.05em;
  background-color: #fff;
  position : relative;
}
p{
  line-height : 1.6;
}
a{
  color : #212227;
  text-decoration: none;
}

/* body.before-load{
  overflow: hidden;
} */

.top-header, .bot-header{
  background-color : #212227;
}
.top-header{
  width : 100%;
  height : 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top : 0;
  left : 0;
}
.main-logo{
  display: block;
  width : 158px;
  height : 46px;
  background: url(../image/logo.png) no-repeat 0 0;
  background-position: 0 -855px;
  background-size : 1369px 1359px;
}
/* top-header */

.bot-header{
  width : 100%;
  height : 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position : absolute;
  top : 50px;
  left : 0;
}
.bot-header-sticky .bot-header{
  position : fixed;
  top : 0;
  z-index: 9;
}
.class-logo{
  display: block;
  width : 87px;
  height : 87px;
  background : url(../image/classLogo.png) no-repeat 0 0;
  background-position: -1078px -582px;
  background-size : 1649px 1422px;
  margin-left : 10%;
}
.main-menu{
  width : 40%;
  height : 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right : 10%;
  font-size : 1.3em;
  font-weight: 600;
  color : #fff;
}
.menu:hover{
  color : #624ebd;
  transition : .5s;
  cursor: pointer;
}
/* header */

.scroll-section{
  position : relative;
  /* padding-top : 50vh; */
}
.main-message{
  display: flex;
  align-items: center;
  justify-content: right;
  font-size : 3rem;
  /* opacity: 0; */
  font-weight: 600;
}
/* scroll-section-0 */

#scroll-section-1{
  background-color: #212227;
  display: flex;
  align-items: center;
  position : relative;
  color : #d4cfb6;
}
.left-static{
  width : 820px;
  height : 900px;
  background : url(../image/img_detail_artist_s.png) no-repeat 0 0;
  margin-left : 10%;
}
.right-static{
  height : 900px;
  width : 40%;
  margin-right : 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.static-message{
  width : 560px;
  overflow : hidden;
}
.static-message strong{
  display: block;
  font-size : 3rem;
  margin-top : 30px;
}
.static-message{
  font-size : 1.2rem;
  margin-bottom : 30px;
  line-height : 2.5;
}
/* scroll-section-1 */

#scroll-section-2{
  background-color:#d4cfb6;
  color :#212227;
  padding-bottom : 50px;
}
.mid-message{
  max-width : 80%;
  margin-left : 10%;
  position : relative;
}
.mid-message small{
  font-size : 2rem;
  position : relative;
  left : 20px;
  letter-spacing: 0.5rem;
}
.mid-message strong{
  font-size : 8rem;
  letter-spacing: 5rem;
}
.canvas-caption{
  position : relative;
  color : #212227;
  max-width: 80%;
  margin-left : 10%;
  font-size : 1.5rem;
  line-height: 2;
}
.canvas-caption strong{
  font-size : 3rem;
}
.canvas-caption small{
  font-size : 2rem;
  font-weight: 500;
}
.identity,.weapon{
  position : absolute;
  width : 300px;
  height : 230px;
  bottom : 0;
  right : 300px;
  text-align: center;
}
.identity-image{
  background : url(../image/classLogo.png) no-repeat 0 0;
  background-size : 1649px 1422px;
  background-position : -1188px -282px;
  width : 187px;
  height : 169px;
  margin : 0 auto;
}
.identity span, .weapon span{
  font-size : 1.4rem;
  position : relative;
  top : 18px;
}
.identity .identity-first::after,
.weapon .weapon-first::after{
  display: inline-block;
  content: "";
  width : 1px;
  height : 15px;
  background-color: #3c332b;
  margin : 0 4px 0 12px;
  vertical-align: -2px;
}
.weapon{
  right : 0;
  height : 207px; 
}
.weapon-image{
  background : url(../image/classLogo.png) no-repeat 0 0;
  background-size : 1649px 1422px;
  width : 154px;
  height : 146px;
  background-position : -1415px -1141px;
  margin : 0 auto;
}
/* scroll-section-2 */

footer{
  width : 100%;
  height : 80px;
  background-color : #212227;
  color : #d4cfb6;
  font-size : 1.5rem;
  text-align: center;
  line-height: 80px;
}
/* footer */

.top-button{
  width : 50px;
  height : 50px;
  border-radius: 50%;
  box-sizing: border-box;
  border : 2px solid #624ebd;
  display: flex;
  justify-content: center;
  align-items: center;
  position : fixed;
  bottom : 10%;
  right : 2%;
}
.top-button .material-icons{
  font-size : 30px;
  color : #624ebd;
  font-weight: 600;
}

.top-button:hover{
  border :none;
  background-color: #624ebd;
  cursor: pointer;
}
.top-button:hover .material-icons{
  color : #212227;
}
